@import "tailwindcss";

:root {
  --background: var(--color-white);
  --foreground: var(--color-gray-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-900);
    --foreground: var(--color-white);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
